@use '@/assets/styles/responsive.scss' as *;
.zero-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(163);
    margin-top: rem(-100);
    img {
        width: rem(570);
        height: rem(153);
    }
    
    
}
.zero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(127);
    img {
        width: rem(725);
        height: rem(331);
    }
    
}
.one-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(236);
    img {
        width: rem(372);
        height: rem(166);
    }
}
.one-1 {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(602);
    img {
        width: rem(238);
        height: rem(171);
    }

}
.one-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(162);
    img {
        width: rem(274);
        height: rem(206);
    }
}
.one-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(138);
    img {
        width: rem(284);
        height: rem(205);
    }
}
.one-4 {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(257);
    img {
        width: rem(535);
        height: rem(205);
    }
}
.two-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(81);
    img {
        width: rem(372);
        height: rem(164);
    }
}
.two-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(467);
    img {
        width: rem(1054);
        height: rem(241);
    }
}

.three-0 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(500);
    img {
        width: rem(372);
        height: rem(164);
    }
}
.three-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(70);
    img {
        width: rem(393);
        height: rem(253);
    }
}
.three-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(160);
    img {
        width: rem(550);
        height: rem(93);
    }
}
.three-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(-80);
    margin-top: rem(150);
    img {
        width: rem(402);
        height: rem(120);
    }
}
.three-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(200);
    img {
        width: rem(532);
        height: rem(262);
    }
}
.three-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(170);
    img {
        width: rem(472);
        height: rem(222);
    }
}
.four-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(260);
    img {
        width: rem(372);
        height: rem(164);
    }

}
.four-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(100);
    img {
        width: rem(1350);
        height: rem(254);
    }

}
.four-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(70);
    img {
        width: rem(547);
        height: rem(205);
    }
}
.five-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(260);
    img {
        width: rem(372);
        height: rem(164);
    }
}
.five-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(50);
    img {
        width: rem(585);
        height: rem(368);
    }
}
.six-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: rem(240);
    img {
        width: rem(720);
        height: rem(295);
    }
}

